# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local
.env.*.local
.env.prod

# OS
.DS_Store

# Logs
logs/

# Code Editors/ IDE's
.idea
.claude/settings.local.json
/.claude
